script(type='text/javascript', src=url_for(theme.plugins) + '/prettify/prettify.js')
script(type='text/javascript', src=url_for(theme.js) + '/search.js')
script(type='text/javascript', src=url_for(theme.js) + '/top.js')

if theme.busuanzi
    script(type='text/javascript', src='//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js', async)

if theme.local_search == true
    script.
        var search_path = '#{config.search.path}';
        if (search_path.length == 0) {
            search_path = 'search.xml';
        }
        var path = '#{config.root}' + search_path;
        searchFunc(path, 'local-search-input', 'local-search-result');

if theme.fancybox == true
    script(type='text/javascript', src='//cdn.bootcss.com/fancybox/3.3.5/jquery.fancybox.min.js', async)
    script(type='text/javascript', src=url_for(theme.js) + '/fancybox.js' + '?v=' + theme.version, async)
    link(rel='stylesheet', type='text/css', href='//cdn.bootcss.com/fancybox/3.3.5/jquery.fancybox.min.css')
